/* Common color */
$white:#fff;
$black:#333;
$gray:#eee;

/* Theme color */
$primary-color: #ff3636;
$heading-color: #ff3636;
$link-color:#333;
$link-hover: #ff3636;
$border-color: #333;
$btn-background: #ff3636;
$btn-color: #fff;
$btn-hover: #333;
$bg-gray: #f6f6f6;