@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container, .container-fluid {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.container .row, .container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.33333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.66667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.33333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.66667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.33333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.66667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.33333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.66667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}

/* Common color */
/* Theme color */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

/* background image css */
.bg {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: .75;
  z-index: -1;
}

/* align-items:center  START*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* flex start */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: between;
      -ms-flex-pack: between;
          justify-content: between;
}

.justify-content-around {
  -webkit-box-pack: around;
      -ms-flex-pack: around;
          justify-content: around;
}

.justify-content-evenly {
  -webkit-box-pack: evenly;
      -ms-flex-pack: evenly;
          justify-content: evenly;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* Button Style */
.btn {
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 30px;
  border-radius: 3px;
}

.btn.btn-primary {
  background-color: #ff3636;
  padding: 10px 30px;
}

.btn.btn-primary:hover {
  background-color: #333;
}

.btn.btn-border {
  border: 2px solid #ff3636;
  padding: 8px 30px;
}

.btn.btn-border:hover {
  background-color: #333;
  border-color: #333;
}

/*padding and margin*/
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mx-auto {
  margin: 0 auto;
}

/* Common color */
/* Theme color */
body {
  font-family: 'Heebo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.section-title h4::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ff3636;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-title h4::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #ff3636;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.header-area {
  padding: 20px 0;
  position: fixed;
  left: 0;
  right: 0;
}

.header-area .container .row .logo a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 15px 10px;
  color: #fff;
}

.header-area .container .row .menu ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-area .container .row .menu ul li a:hover {
  color: #ff3636;
}

.banner-area {
  height: 100vh;
}

.banner-area .container .row .col-xxl-12 .banner-content h1 {
  font-size: 80px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 100px;
}

.banner-area .container .row .col-xxl-12 .banner-content h4 {
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
}

.banner-area .container .row .col-xxl-12 .banner-content a {
  margin: 30px 5px 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.about-area .about-content h2 {
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
  font-weight: 800;
  color: #ff3636;
}

.about-area .about-content h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.about-area .about-content ul li {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
}

.about-area .about-content ul i {
  color: #ff3636;
  margin-right: 5px;
}

.services-area {
  background-color: #f6f6f6;
}

.services-area .section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.services-area .section-title h4::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ff3636;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services-area .section-title h4::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #ff3636;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.services-area .single-service {
  background: #fff;
  padding: 25px 30px;
  margin-bottom: 50px;
  border: 1px solid #eee;
}

.services-area .single-service:hover i {
  border-radius: 50%;
}

.services-area .single-service i {
  font-size: 20px;
  background: #ff3636;
  color: #fff;
  padding: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.services-area .single-service h4 {
  font-size: 24px;
  margin: 15px 0;
  text-transform: capitalize;
}

.projects-area .col-xxl-4 {
  padding: 0;
}

.projects-area .single-project {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.projects-area .single-project:hover .projects-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects-area .projects-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.projects-area .projects-content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.75;
  z-index: -1;
}

.projects-area .projects-content h4 {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
}

.projects-area .projects-content h4 span {
  display: block;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 400;
  margin-top: 5px;
}

.projects-area .projects-content a {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

.counter-area {
  background-color: #0f1113;
  color: #fff;
}

.counter-area .single-counter {
  text-align: center;
}

.counter-area .single-counter i {
  font-size: 20px;
  background-color: #ff3636;
  padding: 16px;
  margin-bottom: 18px;
}

.counter-area .single-counter h4 {
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.counter-area .single-counter p {
  text-transform: capitalize;
}

.timeline-area .timeline-list {
  position: relative;
}

.timeline-area .timeline-list::after {
  position: absolute;
  content: "";
  background: #ff3636;
  height: 100%;
  width: 2px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-area .timeline-list li {
  position: relative;
  clear: both;
  overflow: hidden;
}

.timeline-area .timeline-list li::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ff3636;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-area .timeline-list li:nth-child(even) .timeline-content {
  float: right;
  text-align: left;
}

.timeline-area .timeline-list li .timeline-content {
  border: 2px solid #ff3636;
  padding: 20px;
  float: left;
  width: 45%;
  text-align: right;
}

.timeline-area .timeline-list li .timeline-content span {
  font-size: 20px;
  color: #ff3636;
  font-weight: 600;
}

.timeline-area .timeline-list li .timeline-content h4 {
  text-transform: capitalize;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 5px;
}

.testimonials-area {
  background-color: #333;
  color: #fff;
}

.testimonials-area .testimonials .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.testimonials-area .testimonials .slick-arrow i {
  color: #fff;
  font-size: 20px;
  background-color: tomato;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 20px;
}

.testimonials-area .testimonials .slick-prev {
  left: -50px;
}

.testimonials-area .testimonials .slick-next {
  right: -50px;
}

.testimonials-area .testimonials .slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 30px;
}

.testimonials-area .testimonials .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.testimonials-area .testimonials .slick-dots li.slick-active button {
  background-color: tomato;
  color: #fff;
}

.testimonials-area .testimonials .slick-dots li button {
  background-color: #ddd;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials-area .single-testmonials {
  text-align: center;
}

.testimonials-area .single-testmonials img {
  border-radius: 50%;
  margin-bottom: 20px;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.testimonials-area .single-testmonials h4 {
  font-size: 26px;
  text-transform: capitalize;
  margin-top: 30px;
}

.testimonials-area .single-testmonials h4 span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 9px;
}

.price-area {
  background-color: gray;
}

.price-area .single-price {
  background-color: #fff;
  text-align: center;
  padding: 30px 40px;
}

.price-area .single-price.active {
  border: 5px solid #ff3636;
}

.price-area .single-price span {
  display: block;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-area .single-price h4 {
  font-size: 50px;
  margin: 40px 0;
  font-weight: 800;
}

.price-area .single-price ul {
  margin-bottom: 30px;
}

.price-area .single-price ul li {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.price-area .single-price ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.single-team {
  position: relative;
  overflow: hidden;
}

.single-team:hover .team-overly {
  bottom: 0;
}

.single-team img {
  width: 100%;
  height: 300px;
}

.single-team .team-overly {
  position: absolute;
  bottom: -136px;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 25px 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

.single-team .team-overly h4 {
  text-transform: capitalize;
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}

.single-team .team-overly h4span {
  display: block;
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.single-team .team-overly a {
  color: #fff;
  margin: 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.single-team .team-overly a:hover {
  color: #ff3636;
}

.blog-area {
  background-color: #f2f2f2;
}

.blog-area .single-blog {
  background-color: #fff;
}

.blog-area .single-blog:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog-area .single-blog .blog-img {
  position: relative;
  overflow: hidden;
}

.blog-area .single-blog .blog-img img {
  width: 100%;
  height: 270px;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog-area .single-blog .blog-meta {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #f2f2f2;
  padding: 10px;
  margin-top: -20px;
  z-index: 2;
  position: relative;
}

.blog-area .single-blog .blog-meta a {
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog-area .single-blog .blog-meta a:hover {
  color: tomato;
}

.blog-area .single-blog .blog-meta a i {
  margin-right: 10px;
}

.blog-area .single-blog .blog-content {
  padding: 25px 20px;
}

.blog-area .single-blog .blog-content h4 {
  margin-bottom: 10px;
}

.blog-area .single-blog .blog-content p {
  margin-bottom: 10px;
}

.cta-area {
  text-align: center;
  color: #fff;
}

.cta-area a i {
  color: #fff;
  font-size: 80px;
  margin-bottom: 20px;
}

.cta-area h4 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.cta-area p {
  margin: 10px 0 25px;
}

.footer-area {
  padding: 25px 20px;
  background: #ffffff;
}

.footer-area .footer-text {
  text-align: center;
}

.footer-area .footer-text p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */